[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
faker = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python3 hotel_reservation"
makemigrations = "alembic revision --autogenerate -m 'Create hotel reservation models'"
migrate = "alembic upgrade head"
seed = "python3 migrations/seed/seed.py"
